
xcuserdata/
/*.gcno
.DS_Store
VaccineCard/xcuserdata/
VaccineCard/VaccineCard.xcodeproj/project.xcworkspace/xcuserdata/
VaccineCard/.DS_Store
VaccineCard/VaccineCard/GoogleService-Info.plist
VaccineCard.xcodeproj/project.xcworkspace/xcuserdata/
