
xcuserdata/
/*.gcno
.DS_Store
VaccineCard/xcuserdata/
VaccineCard/Podfile
VaccineCard/Podfile.lock
VaccineCard/Pods
VaccineCard/VaccineCard.xcworkspace
VaccineCard/VaccineCard.xcodeproj/project.xcworkspace/xcuserdata/
VaccineCard/.DS_Store
VaccineCard.xcworkspace
VaccineCard.xcodeproj/project.xcworkspace/xcuserdata/
