<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287329085802-efi8ksdbbmdpm0ko9ef6j56uohgicphe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287329085802-efi8ksdbbmdpm0ko9ef6j56uohgicphe</string>
	<key>API_KEY</key>
	<string>AIzaSyDdOnbWjr5w7JMTF82X0Yt96JAkNlaYXr8</string>
	<key>GCM_SENDER_ID</key>
	<string>287329085802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.freshworks.VaxCheck</string>
	<key>PROJECT_ID</key>
	<string>vax-scanner-d5291</string>
	<key>STORAGE_BUCKET</key>
	<string>vax-scanner-d5291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287329085802:ios:1fcf8a43fc36be96ff1d13</string>
</dict>
</plist>